
<%- include ("./partials/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
    <script src="http://vjs.zencdn.net/5.0.2/video.js"></script> 
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  

</head>

<body>
    <div style="max-width: 1100px" >
    <video id="video1" class="video-js vjs-default-skin vjs-big-play-centered" controls  data-setup='{"playbackRates": [1, 1.25, 1.5, 1.75, 2], "fluid": true}'>
        <source src="https://<%= link %>.cloudfront.net/<%= video.VName %>.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

     

<style>
  .commenthead{
    font-size:35px;
    font-family: "Times New Roman", Times, serif;
  }

.comment {
        width: 250%;
        height: 100px;
        padding: 10px;
        border-left: 6px solid #095484;
       
        font: 1.4em/1.6em cursive;
        color: #095484;
        position:relative;
    transition: .5s ease;
    
    left:-185px;
      }
      .submit {
    padding:5px 50px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px; 
    font: 1.5em/1.5em cursive;
    position:relative;
    transition: .5s ease;
    
    left:385px;
    

}
.submit:hover {
  background-color: #008CBA;
  color: white;
}
</style>
<br><br>
<p class='commenthead'><strong> Comments </strong></p><br>
<div class ='container'>
  <div class='row'>
    
      <br>
      <form action ='/view/<%= video._id %>/comment' method ='POST'>
        <div class='form-group'>
        <input class='comment' type='text' name='comment' placeholder='add new comment'>
        </div>
        <div class='form-group'>
        <input class='submit' type="submit" name="submit" value="Comment">
        </div>
      </form>
      </div>
      </div>
      </div>


<%
if (typeof video.comments != 'undefined' && video.comments != null) {

                video.comments.forEach(function(commentData){%>
                     <div class="p-2" style='padding: 0.5rem'><a href="https://imgbb.com/"><img src="https://i.ibb.co/ys16GPr/download.png" alt="download" border="0" width="50" class="rounded-circle"/></a></div>   
                    
                      <style>
                        .personname{
                          position:relative;
    transition: .5s ease;
    bottom:45px;
    left:60px;
    font-size:15px;

                        }
                        .combody{
                           position:relative;
    transition: .5s ease;
    bottom:50px;
    left:62px;
    
                        }
                        
                        .showmore{
                           position:relative;
    transition: .5s ease;
    bottom:40px;
    left : 120px; 
                        }

                        </style><div >
                        <p class ='personname' style='font-family:"Arial Black", Gadget, sans-serif'><strong><%= commentData.username %> :</strong></p><p class='combody'> <%= commentData.text %></p> </div>

<div class='showmore'>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#page_<%= commentData._id %>">View <%=commentData.replies.length%> Replies</button></div>
<div id= "page_<%= commentData._id %>">

 <% commentData.replies.forEach(function(rs){ %>
                  
                   
                   <style>
                    .p1{
                     position:relative;
    transition: .5s ease;
    bottom : 35px;
    left:120px; 
                    }
                    .replyuser{
                      position:relative;
    transition: .5s ease;
    bottom : 65px;
    left:160px; 
     font-size:15px;               }
                    .replybody{
                      position:relative;
    transition: .5s ease;
    bottom : 75px;
    left:160px; 
                    }
                   </style>
                   
                    <div class="p1" style='padding: 0.05rem'><a href="https://ibb.co/DKDfWFt"><img src="https://i.ibb.co/JkRjtTK/reply.png" alt="reply" border="0" width="40" class="rounded-circle"></a></div>
                      
                      <p class='replyuser' >  <strong> <%= rs.username %>:</strong></p> <p class='replybody'><%= rs.text %> </p>
              <%    
                })%>

</div>

 <div class ='container'>
  <div class='row'>
    <style>
      .reply{
        width: 200%;
        height: 30px;
        padding: 10px;
        font: 1.4em/1.6em cursive;
        color: #095484;
        position:relative;
    transition: .5s ease;
    
    left:-60px;
      }
.replybut {
    width:70px;

     
    border:0 none;
    cursor:pointer;
    
    border-radius: 10px; 
    font: 1.2em/1.2em cursive;
    position:relative;
    transition: .5s ease;
    bottom:10px;
    left:470px;

}
.replybut:hover {
  background-color: #4CAF50;
  color: white;
}
    </style>
    
      <form action ='/view/<%= video._id %>/<%= commentData._id %>/reply' method ='POST'>
        <div class='form-group'>
        <input class='reply' type='text' name='reply' placeholder='add new reply'>
        </div>
        <div >
        <button class='replybut'>Reply</button>
        </div>
      </form>
      </div>
      </div>
      </div><hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
                       
                        

                   <% })

                    }%>

</body>
</html>
<%- include ("./partials/footer") %>
