<%- include ("./partials/header") %>

<div style="max-width: 1100px" >
    <video id="video1" class="video-js vjs-default-skin vjs-big-play-centered" controls  data-setup='{"playbackRates": [1, 1.25, 1.5, 1.75, 2], "fluid": true}'>
        <source src="https://<%= link %>.cloudfront.net/<%= video.VName %>.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <form action ='/view/<%= video._id %>/comment' method ='POST' class="ui reply form">
    <div class="field">
      <textarea name='comment' class="comment"></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Comment
    </div>
  </form>
  <% if (typeof video.comments != 'undefined' && video.comments != null) { %>
    <% video.comments.forEach(function(comment){ %>
  <div class="comment">
    <a class="avatar">
      <img src="<%= comment.author.dp %>">
    </a>
    <div class="content">
      <a class="author"><%= comment.author.username %></a>
      <div class="metadata">
        <span class="date"><%= comment.created.toUTCString() %></span>
      </div>
      <div class="text">
        <%= comment.text %>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  
  <div class="comments">
    <% if(comment.replies != null) { %>
      <% comment.replies.forEach(function(reply){ %>
    <div class="comment">
      <a class="avatar">
        <img src="<%= reply.author.dp %>">
      </a>
      <div class="content">
        <a class="author"><%= reply.author.username %></a>
        <div class="metadata">
          <span class="date"><%= reply.created.toUTCString() %></span>
        </div>
        <div class="text">
          <%= reply.text %>
        </div>
      </div>
    </div>
    <% })} %>
  </div>
</div>
<form id="reply-form" action ='/view/<%= video._id %>/<%= comment._id %>/reply' method ='POST' class="ui reply form">
  <div class="field">
    <textarea name="reply" class="reply"></textarea>
  </div>
  <div class="ui blue labeled submit icon button">
    <i class="icon edit"></i> Add Reply
  </div>
</form>
  <% })} %>
  </div>


<script>
  $(".actions").click(function(){
    $("#reply-form").fadeToggle(1000);
})
</script>








<!-- <p class='commenthead'><strong> Comments </strong></p><br>

<form action ='/view/<%= video._id %>/comment' method ='POST'>
    <div class='form-group'>
    <input class='comment' type='text' id="comment" name='comment' placeholder='add new comment'>
    <div class="invalid-feedback">
      Please enter a valid comment.
    </div>
    </div>
    <div class='form-group'>
    <input class='submit' type="submit" name="submit" value="Comment">
    </div>
</form>

<% if (typeof video.comments != 'undefined' && video.comments != null) { %>
    <% video.comments.forEach(function(comment){ %>
<div class="media">
    <img src="<%= comment.author.dp %>" class="mr-3 dp" alt="...">
    <div class="media-body">
      <h5 class="mt-0"><%= comment.author.username %> <small><small><i> <%= comment.created.toUTCString() %></i></small></small></h5>
      <%= comment.text %> <br>
      <div class="media mt-3">
        <ul>
          <% if(comment.replies != null) { %>
            <% comment.replies.forEach(function(reply){ %>
            <li class="media">
                <a class="mr-3" href="#">
                    <img src="<%= reply.author.dp %>" class="mr-3 dp" alt="...">
                  </a>
                  <div class="media-body">
                    <h5 class="mt-0"><%= reply.author.username %> <small><small><i> <%= reply.created.toUTCString() %></i></small></small></h5>
                    <%= reply.text %>
                  </div>
            </li><br>
            <% })} %>
        </ul>
      </div>
    </div>
  </div>

        <form action ='/view/<%= video._id %>/<%= comment._id %>/reply' method ='POST'>
            <div class='form-group'>
            <input class='reply' type='text' id="reply" name='reply' placeholder='add new reply'>
            <div class="invalid-feedback">
              Please enter a valid reply.
            </div>
            </div>
            <div >
              <input class='submit' type="submit" name="submit" value="Reply">
            </div>
        </form>
    <% })} %>
    <script>
      $(document).ready(function (){
        validateC();
    validateR();
    $('#reply').change(validateR);
    $('#comment').change(validateC);
});

function validateC(){
    if ($('#comment').val().length > 0) {
        $("input[type=submit]").prop("disabled", false);
    }
    else {
        $("input[type=submit]").prop("disabled", true);
    }
}

function validateR(){
    if ($('#reply').val().length > 0) {
        $("input[type=submit]").prop("disabled", false);
    }
    else {
        $("input[type=submit]").prop("disabled", true);
    }
}
    </script> -->
<%- include ("./partials/footer") %>